.body-paragraph-margin {
    margin: 2.5rem 0;
}

.overview-double-column {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-top: 2.5rem;
}

.overview-double-column-gap {
    gap: 10vw;
}

.overview-double-column-space-between {
    justify-content: space-between;

}

.standard-flex-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.overview-left {
    display: flex;
    flex-direction: column;
    flex-basis: 62%;
}

.overview-right {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.overview-right-spacing {
    margin-top: 2rem;
}

.tool-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.tool-tag {
    padding: .6rem 1rem;
    background-color: var(--gainsboro);
    margin: 0 1rem 1rem 0;
}

.subsection-spacing {
    margin-top: 7.5rem;
}

.user-group-image {
    width: 30vw;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 1rem;
    margin-bottom: 1.75rem;
}

.side-by-side-image {
    width: 100%;
}

.text-image-align {
    align-items: center;
}

.video-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.paragraph-image-align {
    flex-basis: 50%;
}

.strange-slider {
    justify-content: end;
}