:root {
  --prussian-blue: #273852;
  --white: #fff;
  --dark-gray: #707070;
  --black: #111;
  --oxford-blue: #192333;
  --lapis-lazuli: #3360a3;
  --candy-pink: #e8666d;
  --gainsboro: #dee2e8;
}

.hero {
  font-family: 'Source Serif Pro';
  font-size: 5rem;
  color: var(--prussian-blue);
}

.heading-1 {
  font-family: 'Source Serif Pro';
  font-size: 3rem;
  font-weight: 700;
  color: var(--prussian-blue);
}

.heading-2 {
  font-family: 'Open Sans';
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--prussian-blue);
}

.heading-3, .nav-selected {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2rem;
  color: var(--prussian-blue);
}

.heading-4 {
  font-family: 'Open Sans';
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black);
}

.heading-5 {
  font-family: 'Open Sans Condensed Bold';
  font-size: 1.8rem;
  color: var(--dark-gray);
}

.nav-unselected {
  font-family: 'Open Sans';
  font-size: 2rem;
  color: var(--dark-gray);
}

.body-bold {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--dark-gray);
}

.body-large {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--dark-gray);
}

.body-medium {
  font-family: 'Open Sans';
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--black);
}

.caption {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--oxford-blue);
}

.button {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--candy-pink);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

a {
  color: var(--lapis-lazuli);
}

nav a {
  text-decoration: none;
  text-transform: uppercase;

}

.nav--layout {
  display: flex;
  flex-direction: row;
  padding: 6vh 6vh;
  justify-content: flex-end;
  background-color: var(--gainsboro)
}

.nav-item {
  margin: 1rem 0rem 1rem 4vw;
  padding-bottom: .5rem;
}

.nav-item:hover {
  font-weight: 700;
}

#work .work-nav, #about .about-nav, #contact .contact-nav {
  border-bottom: .3rem solid var(--candy-pink);
  stroke-linecap: round;
}


supports
