:root {
  --prussian-blue: #273852;
  --white: #fff;
  --dark-gray: #707070;
  --black: #111;
  --oxford-blue: #192333;
  --lapis-lazuli: #3360a3;
  --candy-pink: #e8666d;
  --gainsboro: #dee2e8;
}

.hero {
  font-family: 'Source Serif Pro';
  font-size: 5rem;
  font-weight: 700;
  color: var(--prussian-blue);
}

.heading-1 {
  font-family: 'Source Serif Pro';
  font-size: 3rem;
  font-weight: 700;
  color: var(--prussian-blue);
}

.heading-2 {
  font-family: 'Open Sans';
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--prussian-blue);
}

.heading-3, .nav-selected {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2rem;
  color: var(--prussian-blue);
}

.heading-4 {
  font-family: 'Open Sans';
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black);
}

.heading-5 {
  font-family: 'Open Sans Condensed';
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--oxford-blue);
}

.nav-unselected {
  font-family: 'Open Sans';
  font-size: 2rem;
  color: var(--dark-gray);
}

.quote {
  font-family: 'Open Sans';
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  font-style: italic;
  text-align: center;
  color: var(--black);
  margin: 3.5rem 0;
}

.body-bold {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--dark-gray);
}

.body-large {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--dark-gray);
}

.body-medium {
  font-family: 'Open Sans';
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--black);
}

.caption {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--oxford-blue);
}

.italic-text {
  font-style: italic;
}

.gray-text {
  color: var(--dark-gray)
}

.button {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--candy-pink);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

hr {
  width: 5rem;
  height: 0.1rem;
  background-color: var(--lapis-lazuli);
  border: none;
  margin: 2rem 0 0 0;
}

li {
  padding-top: 3rem;;
}

li:first-child{
  padding-top: 0;
}

a {
  color: var(--lapis-lazuli);
}

p > a {
  font-weight: 700;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;

}

.nav--layout {
  display: flex;
  flex-direction: row;
  padding: 6vh 6vh;
  justify-content: flex-end;
  background-color: var(--gainsboro)
}

.nav-item {
  margin: 1rem 0rem 1rem 4vw;
  padding-bottom: .5rem;
}

.nav-item:hover {
  font-weight: 700;
}

#work .work-nav, #about .about-nav, #contact .contact-nav {
  border-bottom: .3rem solid var(--candy-pink);
  stroke-linecap: round;
}

.hero-style {
  background-color: var(--gainsboro);
}

.project-hero-layout {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 4rem;
  padding: 10vh 5vw 3vh 5vw;
}

.project-hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-hero-text-spacing {
  margin-bottom: 1.5rem;
}

.project-hero-image {
  width: 50vw;
}

.project-body-wrapper {
  margin: 0 12vw 0 12vw;
}

.project-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh 0 7.5rem 0;
}

.body-paragraph-margin {
  margin: 2.5rem 0;
}

.overview-double-column {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-top: 2.5rem;
}

.overview-double-column-gap {
  gap: 10vw;
}

.overview-double-column-space-between {
  justify-content: space-between;

}

.standard-flex-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.overview-left {
  display: flex;
  flex-direction: column;
  flex-basis: 62%;
}

.overview-right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.overview-right-spacing {
  margin-top: 2rem;
}

.tool-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  max-width: 250px;
}

.tool-tag {
  padding: .6rem 1rem;
  background-color: var(--gainsboro);
  margin: 0 1rem 1rem 0;
}

.subsection-spacing {
  margin-top: 7.5rem;
}

.side-by-side-image {
  width: 100%;
}

.text-image-align {
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.paragraph-image-align {
  flex-basis: 50%;
}